* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    width: 100%;
    display: block;
}

/* LAYOUT */
.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
}

button {
    padding: 0.3rem 0.5rem;
}

/* HEADER */
header {
    background-color: black;
}

header .container {
    width: 100%;
    padding: 0 2rem;
}

header .row {
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.col-30 {
    width: 30%;
}

.logo {
    width: 50%;
}

.searchbar {
    margin-right: 1rem;
    height: 1.5rem;
}

/* MAIN */
main {
    background-color: #2b2a33;
    padding-top: 2rem;
    height: calc(100vh - 100px);
}

main .row {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

main .col {
    width: calc(100% / 5);
}

/* CARD */
.card-text {
    display: none;
}